<!DOCTYPE html>
<html>
<body>
  <form action='/articles' method="POST">
    <label for "title">Title:</label>
      <input type="text" id="title" value="title">
      <br />
      <br />
      <label for "content">Content:</label>
      <input type="text" id="content" value="content">
      <br />
      <br />
      <input type="submit" value="submit" id="submit">
  </form>
</body>
</html>
