<form method = "post" action = "/articles">
<p>Article Title:<input type = "text" id ="article_title" name ="title"></p>
<p>Article Content:<input type = "text" id = "article_content" name = "content"></p>
<input type = "submit" id = "submit">

</form>